/* 
* @Author: Marte
* @Date:   2017-09-05 09:54:54
* @Last Modified by:   Marte
* @Last Modified time: 2017-09-05 10:25:03
*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.main{
    width: 1000px;
    height: 1000px;
    margin: 50px auto;
}
.list a{
    display: block;
    float: left;
    height:96px;
    width:120px;
    background: url(../img/1.jpg) no-repeat center;
    background-size: contain;
}
.list li:nth-child(2) a{
    background-image: url(../img/2.jpg);
}
.list li:nth-child(3) a{
    background-image: url(../img/3.jpg);
}
.list li:nth-child(4) a{
    background-image: url(../img/4.jpg);
}
.banner img{
    height:400px;
}

